.header{
     background-color: var(--dark-blue);
}
.container {
     align-items: center;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     width: 1024px;
     padding: 20px 0;
}